{"openapi":"3.0.3","info":{"title":"GZW Data API","version":"4.0.0","description":"Comprehensive Gray Zone Warfare game data API."},"servers":[{"url":"https://gzw-data.dev"}],"components":{"schemas":{"ammo":{"type":"object","properties":{"accuracy_modifier":{"type":"string"},"dispersion":{"type":"string"},"durability_modifier":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_velocity":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"stopped_by_armor_class":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"apparel_items":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"auxiliary":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"backpacks":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","name","slots","type","weight"],"additionalProperties":true},"barrels":{"type":"object","properties":{"accuracy":{"type":"string"},"buy_price":{"type":"string"},"fire_rate":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_device_efficiency":{"type":"string"},"muzzle_velocity":{"type":"string"},"name":{"type":"string"},"size_change_horizontal":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["accuracy","id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"belts":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","manufacturer","name","slots","sold_by","type","weight"],"additionalProperties":true},"binoculars":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"boots":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"buffer_tubes":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"size_change_horizontal":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","size_change_horizontal","sold_by","type","weight"],"additionalProperties":true},"charging_handle":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"reload_speed":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"cleanup":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"map_location":{"type":"string"},"name":{"type":"string"},"room_contains":{"type":"string"},"size":{"type":"string"},"town":{"type":"string"},"type":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"collimators":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"magnification":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sighting_range":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sighting_range","sold_by","type","weight"],"additionalProperties":true},"containers":{"type":"object","properties":{"buy_price":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"inventory_layout_(x/y)":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"restrictions":{"type":"string"},"sell_price":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","inventory_layout_(x/y)","name","sold_by","type"],"additionalProperties":true},"contract":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","location","name","vendor"],"additionalProperties":true},"contracts":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","location","name","vendor"],"additionalProperties":true},"drinks":{"type":"object","properties":{"charges":{"type":"string"},"effect":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"use_time":{"type":"string"},"weight":{"type":"string"}},"required":["charges","effect","grid_size","id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"electronics":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","name","sell_price","type","weight"],"additionalProperties":true},"face_cover":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"food":{"type":"object","properties":{"arm_stamina_boost":{"type":"string"},"arm_stamina_boost_cap":{"type":"string"},"arm_stamina_boost_duration":{"type":"string"},"body_stamina_boost":{"type":"string"},"body_stamina_boost_cap":{"type":"string"},"body_stamina_boost_duration":{"type":"string"},"buy_price":{"type":"string"},"charges":{"type":"string"},"effect":{"type":"string"},"energy_per_charge":{"type":"string"},"grid_size":{"type":"string"},"hydratation_per_charge":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"use_time":{"type":"string"},"weight":{"type":"string"}},"required":["charges","grid_size","id","name","type","weight"],"additionalProperties":true},"foregrips":{"type":"object","properties":{"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","recoil_control","sold_by","type","weapon_handling","weight"],"additionalProperties":true},"front_iron_sights":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"magnification":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sighting_range":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sighting_range","sold_by","type","weight"],"additionalProperties":true},"funds":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","name","sell_price","type","weight"],"additionalProperties":true},"gas_blocks":{"type":"object","properties":{"buy_price":{"type":"string"},"fire_rate":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_device_efficiency":{"type":"string"},"name":{"type":"string"},"slot":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"gear":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"glasses":{"type":"object","properties":{"flashbang_resistance":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["flashbang_resistance","grid_size","id","name","sold_by","type"],"additionalProperties":true},"gloves":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"handguards":{"type":"object","properties":{"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"size_change_horizontal":{"type":"string"},"slot":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","type","weight"],"additionalProperties":true},"headsets":{"type":"object","properties":{"buy_price":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"helmet_mounts":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"helmets":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"material":{"type":"string"},"name":{"type":"string"},"nij_class":{"type":"string"},"rain_protection":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name"],"additionalProperties":true},"hidden_task":{"type":"object","properties":{"hidden_task":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"vendor":{"type":"string"}},"required":["hidden_task","id","image","location","name","vendor"],"additionalProperties":true},"household_item":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"intels":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"required":["id","name","type"],"additionalProperties":true},"items":{"type":"object","properties":{"buy_price":{"type":"string"},"duration":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"sold_by":{"type":"string"},"weight":{"type":"string"}},"required":["buy_price","duration","grid_size","id","image","manufacturer","name","sell_price","sold_by","weight"],"additionalProperties":true},"jewellery":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"keycards":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"usage":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"keys":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"map_location":{"type":"string"},"name":{"type":"string"},"room_contains":{"type":"string"},"size":{"type":"string"},"town":{"type":"string"},"type":{"type":"string"},"usage":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"laboratory_supplies":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"lockboxes":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"inventory_layout_(x/y)":{"type":"string"},"name":{"type":"string"},"slots":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","inventory_layout_(x/y)","name","slots","type","weight"],"additionalProperties":true},"loot_container":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"inventory_layout_(x/y)":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"required":["id","name","type"],"additionalProperties":true},"loot_containers":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"inventory_layout_(x/y)":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"loot_items":{"type":"object","properties":{"grid":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","name","weight"],"additionalProperties":true},"magazines":{"type":"object","properties":{"accepted_ammunition":{"type":"string"},"buy_price":{"type":"string"},"caliber":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"reload_speed":{"type":"string"},"size_change_horizontal":{"type":"string"},"size_change_vertical":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"main_task":{"type":"object","properties":{"alternate":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","location","name","vendor"],"additionalProperties":true},"medical":{"type":"object","properties":{"charges":{"type":"string"},"duration":{"type":"string"},"effect":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"use_time":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"military_equipment":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"military_material":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","name","sell_price","type","weight"],"additionalProperties":true},"mortar_rounds":{"type":"object","properties":{"buy_price":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"sold_by":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","manufacturer","name","sell_price","sold_by","weight"],"additionalProperties":true},"mounts":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","type","weight"],"additionalProperties":true},"muzzle_devices":{"type":"object","properties":{"accuracy_modifier":{"type":"string"},"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_device_efficiency":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"night_vision":{"type":"object","properties":{"buy_price":{"type":"string"},"field_of_view":{"type":"string"},"figure_of_merit":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"phosphor_color":{"type":"string"},"sell_price":{"type":"string"},"size_change_vert/horiz":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["field_of_view","figure_of_merit","id","image","manufacturer","name","phosphor_color","sold_by","type","weight"],"additionalProperties":true},"paper":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"required":["id","name","type"],"additionalProperties":true},"pistol_grips":{"type":"object","properties":{"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"size_change_vertical":{"type":"string"},"slot":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"plate_carrier":{"type":"object","properties":{"armor_locations":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"material":{"type":"string"},"name":{"type":"string"},"nij_class":{"type":"string"},"sold_by":{"type":"string"},"weight":{"type":"string"}},"required":["armor_locations","id","image","material","name","nij_class","sold_by","weight"],"additionalProperties":true},"plate_carriers":{"type":"object","properties":{"armor_locations":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"inventory":{"type":"string"},"manufacturer":{"type":"string"},"material":{"type":"string"},"name":{"type":"string"},"nij_class":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","material","name","nij_class","weight"],"additionalProperties":true},"provisions":{"type":"object","properties":{"grid":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"source":{"type":"string"},"weight":{"type":"string"}},"required":["grid","id","name","source","weight"],"additionalProperties":true},"reading_intel":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"required":["id","image","name","type"],"additionalProperties":true},"rear_iron_sights":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"magnification":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sighting_range":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sighting_range","sold_by","type","weight"],"additionalProperties":true},"removed_content":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"required_level":{"type":"string"},"type":{"type":"string"},"usage":{"type":"string"},"vendor":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"repair_kits":{"type":"object","properties":{"buy_price":{"type":"string"},"charges":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"repair_efficiency":{"type":"string"},"sell_price":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["buy_price","charges","id","image","manufacturer","name","repair_efficiency","sold_by","type","weight"],"additionalProperties":true},"rigs":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"inventory":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name","slots","sold_by","type","weight"],"additionalProperties":true},"scopes":{"type":"object","properties":{"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"magnification":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sighting_range":{"type":"string"},"size_change_horizontal":{"type":"string"},"size_change_vertical":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","magnification","manufacturer","name","sighting_range","sold_by","type","weight"],"additionalProperties":true},"shirts":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"side_task":{"type":"object","properties":{"alternate":{"type":"string"},"hidden_task":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"task_type":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","name","vendor"],"additionalProperties":true},"slides":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"reload_speed":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"squad_strike_missions":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","location","name","vendor"],"additionalProperties":true},"squad_strike_missions_item":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","weight"],"additionalProperties":true},"stock_adapters":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"size_change_horizontal":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"stocks":{"type":"object","properties":{"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"size_change_horizontal":{"type":"string"},"size_change_vertical":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"suppressors":{"type":"object","properties":{"accuracy":{"type":"string"},"accuracy_modifier":{"type":"string"},"buy_price":{"type":"string"},"ergonomics":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"loudness_reduction":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_device_efficiency":{"type":"string"},"name":{"type":"string"},"size_change_horizontal":{"type":"string"},"slot":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","loudness_reduction","manufacturer","muzzle_device_efficiency","name","sold_by","type","weight"],"additionalProperties":true},"tactical_devices":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"modes":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","modes","name","type","weight"],"additionalProperties":true},"task_items":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"tasks":{"type":"object","properties":{"alternate":{"type":"string"},"faction":{"type":"string"},"hidden_task":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"location":{"type":"string"},"name":{"type":"string"},"task_type":{"type":"string"},"vendor":{"type":"string"}},"required":["id","image","name","vendor"],"additionalProperties":true},"throwables":{"type":"object","properties":{"burning_time":{"type":"string"},"buy_price":{"type":"string"},"fragment_count":{"type":"string"},"fuse_delay":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"radius":{"type":"string"},"sell_price":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["fuse_delay","id","image","manufacturer","name","sell_price","type","weight"],"additionalProperties":true},"tools":{"type":"object","properties":{"buy_price":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","weight"],"additionalProperties":true},"trousers":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"}},"required":["id","image","name"],"additionalProperties":true},"upcoming_content":{"type":"object","properties":{"accepted_ammunition":{"type":"string"},"accuracy":{"type":"string"},"armor_locations":{"type":"string"},"caliber":{"type":"string"},"fire_mode":{"type":"string"},"fire_rate":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"material":{"type":"string"},"name":{"type":"string"},"nij_class":{"type":"string"},"reload_speed":{"type":"string"},"slot":{"type":"string"},"slots":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name","type"],"additionalProperties":true},"upper_receivers":{"type":"object","properties":{"buy_price":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"size_change_horizontal":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","manufacturer","name","sold_by","type","weight"],"additionalProperties":true},"valuables":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","image","name","type","weight"],"additionalProperties":true},"vendors":{"type":"object","properties":{"full_name":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"name":{"type":"string"},"wares":{"type":"string"}},"required":["full_name","id","image","name"],"additionalProperties":true},"vests":{"type":"object","properties":{"armor_locations":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"material":{"type":"string"},"name":{"type":"string"},"nij_class":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"vices":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"weapon_parts":{"type":"object","properties":{"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"size_change_horizontal":{"type":"string"},"size_change_vertical":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["id","image","manufacturer","name","size_change_horizontal","size_change_vertical","type","weight"],"additionalProperties":true},"weapons":{"type":"object","properties":{"accepted_ammunition":{"type":"string"},"accuracy":{"type":"string"},"caliber":{"type":"string"},"default_ammo":{"type":"string"},"default_mag":{"type":"string"},"ergonomics":{"type":"string"},"fire_mode":{"type":"string"},"fire_rate":{"type":"string"},"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"muzzle_device_efficiency":{"type":"string"},"muzzle_velocity":{"type":"string"},"name":{"type":"string"},"recoil_control":{"type":"string"},"reload_speed":{"type":"string"},"slot":{"type":"string"},"sold_by":{"type":"string"},"type":{"type":"string"},"weapon_handling":{"type":"string"},"weight":{"type":"string"}},"required":["id","name"],"additionalProperties":true},"workshop_supplies":{"type":"object","properties":{"grid_size":{"type":"string"},"id":{"type":"string"},"image":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"sell_price":{"type":"string"},"type":{"type":"string"},"weight":{"type":"string"}},"required":["grid_size","id","name","sell_price","type","weight"],"additionalProperties":true},"ApiError":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","example":"DATASET_NOT_FOUND"},"message":{"type":"string","example":"Dataset not found"},"dataset":{"type":"string"},"id":{"type":"string"}},"additionalProperties":true},"ApiErrorResponse":{"type":"object","required":["error","source","timestamp"],"properties":{"error":{"$ref":"#/components/schemas/ApiError"},"source":{"type":"string","example":"GZW Data API"},"timestamp":{"type":"string","format":"date-time"}}}}},"paths":{"/api":{"get":{"summary":"API root"}},"/api/health":{"get":{"summary":"API health and dataset status"}},"/api/ready":{"get":{"summary":"Readiness probe for loaded datasets"}},"/api/metadata":{"get":{"summary":"Dataset schema metadata"}},"/api/metadata/{dataset}":{"get":{"summary":"Get schema metadata for one dataset","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/ammo":{"get":{"summary":"ammo (79 items)"}},"/api/ammo/{id}":{"get":{"summary":"Get one ammo record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/apparel_items":{"get":{"summary":"apparel_items (63 items)"}},"/api/apparel_items/{id}":{"get":{"summary":"Get one apparel_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/auxiliary":{"get":{"summary":"auxiliary (5 items)"}},"/api/auxiliary/{id}":{"get":{"summary":"Get one auxiliary record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/backpacks":{"get":{"summary":"backpacks (16 items)"}},"/api/backpacks/{id}":{"get":{"summary":"Get one backpacks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/barrels":{"get":{"summary":"barrels (28 items)"}},"/api/barrels/{id}":{"get":{"summary":"Get one barrels record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/belts":{"get":{"summary":"belts (8 items)"}},"/api/belts/{id}":{"get":{"summary":"Get one belts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/binoculars":{"get":{"summary":"binoculars (4 items)"}},"/api/binoculars/{id}":{"get":{"summary":"Get one binoculars record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/boots":{"get":{"summary":"boots (6 items)"}},"/api/boots/{id}":{"get":{"summary":"Get one boots record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/buffer_tubes":{"get":{"summary":"buffer_tubes (3 items)"}},"/api/buffer_tubes/{id}":{"get":{"summary":"Get one buffer_tubes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/charging_handle":{"get":{"summary":"charging_handle (11 items)"}},"/api/charging_handle/{id}":{"get":{"summary":"Get one charging_handle record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/cleanup":{"get":{"summary":"cleanup (4 items)"}},"/api/cleanup/{id}":{"get":{"summary":"Get one cleanup record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/collimators":{"get":{"summary":"collimators (20 items)"}},"/api/collimators/{id}":{"get":{"summary":"Get one collimators record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/containers":{"get":{"summary":"containers (28 items)"}},"/api/containers/{id}":{"get":{"summary":"Get one containers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/contract":{"get":{"summary":"contract (26 items)"}},"/api/contract/{id}":{"get":{"summary":"Get one contract record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/contracts":{"get":{"summary":"contracts (3 items)"}},"/api/contracts/{id}":{"get":{"summary":"Get one contracts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/drinks":{"get":{"summary":"drinks (18 items)"}},"/api/drinks/{id}":{"get":{"summary":"Get one drinks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/electronics":{"get":{"summary":"electronics (5 items)"}},"/api/electronics/{id}":{"get":{"summary":"Get one electronics record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/face_cover":{"get":{"summary":"face_cover (4 items)"}},"/api/face_cover/{id}":{"get":{"summary":"Get one face_cover record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/food":{"get":{"summary":"food (19 items)"}},"/api/food/{id}":{"get":{"summary":"Get one food record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/foregrips":{"get":{"summary":"foregrips (19 items)"}},"/api/foregrips/{id}":{"get":{"summary":"Get one foregrips record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/front_iron_sights":{"get":{"summary":"front_iron_sights (16 items)"}},"/api/front_iron_sights/{id}":{"get":{"summary":"Get one front_iron_sights record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/funds":{"get":{"summary":"funds (4 items)"}},"/api/funds/{id}":{"get":{"summary":"Get one funds record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/gas_blocks":{"get":{"summary":"gas_blocks (9 items)"}},"/api/gas_blocks/{id}":{"get":{"summary":"Get one gas_blocks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/gear":{"get":{"summary":"gear (26 items)"}},"/api/gear/{id}":{"get":{"summary":"Get one gear record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/glasses":{"get":{"summary":"glasses (13 items)"}},"/api/glasses/{id}":{"get":{"summary":"Get one glasses record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/gloves":{"get":{"summary":"gloves (12 items)"}},"/api/gloves/{id}":{"get":{"summary":"Get one gloves record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/handguards":{"get":{"summary":"handguards (56 items)"}},"/api/handguards/{id}":{"get":{"summary":"Get one handguards record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/headsets":{"get":{"summary":"headsets (7 items)"}},"/api/headsets/{id}":{"get":{"summary":"Get one headsets record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/helmet_mounts":{"get":{"summary":"helmet_mounts (3 items)"}},"/api/helmet_mounts/{id}":{"get":{"summary":"Get one helmet_mounts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/helmets":{"get":{"summary":"helmets (41 items)"}},"/api/helmets/{id}":{"get":{"summary":"Get one helmets record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/hidden_task":{"get":{"summary":"hidden_task (7 items)"}},"/api/hidden_task/{id}":{"get":{"summary":"Get one hidden_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/household_item":{"get":{"summary":"household_item (20 items)"}},"/api/household_item/{id}":{"get":{"summary":"Get one household_item record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/intels":{"get":{"summary":"intels (5 items)"}},"/api/intels/{id}":{"get":{"summary":"Get one intels record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/items":{"get":{"summary":"items (3 items)"}},"/api/items/{id}":{"get":{"summary":"Get one items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/jewellery":{"get":{"summary":"jewellery (17 items)"}},"/api/jewellery/{id}":{"get":{"summary":"Get one jewellery record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/keycards":{"get":{"summary":"keycards (8 items)"}},"/api/keycards/{id}":{"get":{"summary":"Get one keycards record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/keys":{"get":{"summary":"keys (126 items)"}},"/api/keys/{id}":{"get":{"summary":"Get one keys record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/laboratory_supplies":{"get":{"summary":"laboratory_supplies (9 items)"}},"/api/laboratory_supplies/{id}":{"get":{"summary":"Get one laboratory_supplies record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/lockboxes":{"get":{"summary":"lockboxes (3 items)"}},"/api/lockboxes/{id}":{"get":{"summary":"Get one lockboxes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/loot_container":{"get":{"summary":"loot_container (39 items)"}},"/api/loot_container/{id}":{"get":{"summary":"Get one loot_container record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/loot_containers":{"get":{"summary":"loot_containers (4 items)"}},"/api/loot_containers/{id}":{"get":{"summary":"Get one loot_containers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/loot_items":{"get":{"summary":"loot_items (120 items)"}},"/api/loot_items/{id}":{"get":{"summary":"Get one loot_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/magazines":{"get":{"summary":"magazines (51 items)"}},"/api/magazines/{id}":{"get":{"summary":"Get one magazines record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/main_task":{"get":{"summary":"main_task (26 items)"}},"/api/main_task/{id}":{"get":{"summary":"Get one main_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/medical":{"get":{"summary":"medical (34 items)"}},"/api/medical/{id}":{"get":{"summary":"Get one medical record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/military_equipment":{"get":{"summary":"military_equipment (19 items)"}},"/api/military_equipment/{id}":{"get":{"summary":"Get one military_equipment record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/military_material":{"get":{"summary":"military_material (4 items)"}},"/api/military_material/{id}":{"get":{"summary":"Get one military_material record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/mortar_rounds":{"get":{"summary":"mortar_rounds (3 items)"}},"/api/mortar_rounds/{id}":{"get":{"summary":"Get one mortar_rounds record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/mounts":{"get":{"summary":"mounts (53 items)"}},"/api/mounts/{id}":{"get":{"summary":"Get one mounts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/muzzle_devices":{"get":{"summary":"muzzle_devices (45 items)"}},"/api/muzzle_devices/{id}":{"get":{"summary":"Get one muzzle_devices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/night_vision":{"get":{"summary":"night_vision (5 items)"}},"/api/night_vision/{id}":{"get":{"summary":"Get one night_vision record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/paper":{"get":{"summary":"paper (1 items)"}},"/api/paper/{id}":{"get":{"summary":"Get one paper record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/pistol_grips":{"get":{"summary":"pistol_grips (25 items)"}},"/api/pistol_grips/{id}":{"get":{"summary":"Get one pistol_grips record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/plate_carrier":{"get":{"summary":"plate_carrier (1 items)"}},"/api/plate_carrier/{id}":{"get":{"summary":"Get one plate_carrier record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/plate_carriers":{"get":{"summary":"plate_carriers (16 items)"}},"/api/plate_carriers/{id}":{"get":{"summary":"Get one plate_carriers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/provisions":{"get":{"summary":"provisions (37 items)"}},"/api/provisions/{id}":{"get":{"summary":"Get one provisions record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/reading_intel":{"get":{"summary":"reading_intel (1 items)"}},"/api/reading_intel/{id}":{"get":{"summary":"Get one reading_intel record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/rear_iron_sights":{"get":{"summary":"rear_iron_sights (20 items)"}},"/api/rear_iron_sights/{id}":{"get":{"summary":"Get one rear_iron_sights record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/removed_content":{"get":{"summary":"removed_content (24 items)"}},"/api/removed_content/{id}":{"get":{"summary":"Get one removed_content record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/repair_kits":{"get":{"summary":"repair_kits (6 items)"}},"/api/repair_kits/{id}":{"get":{"summary":"Get one repair_kits record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/rigs":{"get":{"summary":"rigs (11 items)"}},"/api/rigs/{id}":{"get":{"summary":"Get one rigs record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/scopes":{"get":{"summary":"scopes (11 items)"}},"/api/scopes/{id}":{"get":{"summary":"Get one scopes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/shirts":{"get":{"summary":"shirts (20 items)"}},"/api/shirts/{id}":{"get":{"summary":"Get one shirts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/side_task":{"get":{"summary":"side_task (96 items)"}},"/api/side_task/{id}":{"get":{"summary":"Get one side_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/slides":{"get":{"summary":"slides (12 items)"}},"/api/slides/{id}":{"get":{"summary":"Get one slides record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/squad_strike_missions":{"get":{"summary":"squad_strike_missions (32 items)"}},"/api/squad_strike_missions/{id}":{"get":{"summary":"Get one squad_strike_missions record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/squad_strike_missions_item":{"get":{"summary":"squad_strike_missions_item (55 items)"}},"/api/squad_strike_missions_item/{id}":{"get":{"summary":"Get one squad_strike_missions_item record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/stock_adapters":{"get":{"summary":"stock_adapters (10 items)"}},"/api/stock_adapters/{id}":{"get":{"summary":"Get one stock_adapters record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/stocks":{"get":{"summary":"stocks (58 items)"}},"/api/stocks/{id}":{"get":{"summary":"Get one stocks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/suppressors":{"get":{"summary":"suppressors (23 items)"}},"/api/suppressors/{id}":{"get":{"summary":"Get one suppressors record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/tactical_devices":{"get":{"summary":"tactical_devices (11 items)"}},"/api/tactical_devices/{id}":{"get":{"summary":"Get one tactical_devices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/task_items":{"get":{"summary":"task_items (101 items)"}},"/api/task_items/{id}":{"get":{"summary":"Get one task_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/tasks":{"get":{"summary":"tasks (249 items)"}},"/api/tasks/{id}":{"get":{"summary":"Get one tasks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/throwables":{"get":{"summary":"throwables (8 items)"}},"/api/throwables/{id}":{"get":{"summary":"Get one throwables record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/tools":{"get":{"summary":"tools (8 items)"}},"/api/tools/{id}":{"get":{"summary":"Get one tools record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/trousers":{"get":{"summary":"trousers (23 items)"}},"/api/trousers/{id}":{"get":{"summary":"Get one trousers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/upcoming_content":{"get":{"summary":"upcoming_content (11 items)"}},"/api/upcoming_content/{id}":{"get":{"summary":"Get one upcoming_content record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/upper_receivers":{"get":{"summary":"upper_receivers (15 items)"}},"/api/upper_receivers/{id}":{"get":{"summary":"Get one upper_receivers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/valuables":{"get":{"summary":"valuables (1 items)"}},"/api/valuables/{id}":{"get":{"summary":"Get one valuables record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/vendors":{"get":{"summary":"vendors (7 items)"}},"/api/vendors/{id}":{"get":{"summary":"Get one vendors record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/vests":{"get":{"summary":"vests (19 items)"}},"/api/vests/{id}":{"get":{"summary":"Get one vests record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/vices":{"get":{"summary":"vices (11 items)"}},"/api/vices/{id}":{"get":{"summary":"Get one vices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/weapon_parts":{"get":{"summary":"Weapon parts (combined)"}},"/api/weapons":{"get":{"summary":"weapons (44 items)"}},"/api/weapons/{id}":{"get":{"summary":"Get one weapons record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/workshop_supplies":{"get":{"summary":"workshop_supplies (16 items)"}},"/api/workshop_supplies/{id}":{"get":{"summary":"Get one workshop_supplies record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/armor":{"get":{"summary":"Armor (vests + helmets + glasses)"}},"/api/helmet_mods":{"get":{"summary":"Helmet mods (night vision + mounts)"}},"/api/v1":{"get":{"summary":"API root"}},"/api/v1/health":{"get":{"summary":"API health and dataset status"}},"/api/v1/ready":{"get":{"summary":"Readiness probe for loaded datasets"}},"/api/v1/metadata":{"get":{"summary":"Dataset schema metadata"}},"/api/v1/metadata/{dataset}":{"get":{"summary":"Get schema metadata for one dataset","parameters":[{"name":"dataset","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/ammo":{"get":{"summary":"ammo (79 items)"}},"/api/v1/ammo/{id}":{"get":{"summary":"Get one ammo record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/apparel_items":{"get":{"summary":"apparel_items (63 items)"}},"/api/v1/apparel_items/{id}":{"get":{"summary":"Get one apparel_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/auxiliary":{"get":{"summary":"auxiliary (5 items)"}},"/api/v1/auxiliary/{id}":{"get":{"summary":"Get one auxiliary record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/backpacks":{"get":{"summary":"backpacks (16 items)"}},"/api/v1/backpacks/{id}":{"get":{"summary":"Get one backpacks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/barrels":{"get":{"summary":"barrels (28 items)"}},"/api/v1/barrels/{id}":{"get":{"summary":"Get one barrels record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/belts":{"get":{"summary":"belts (8 items)"}},"/api/v1/belts/{id}":{"get":{"summary":"Get one belts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/binoculars":{"get":{"summary":"binoculars (4 items)"}},"/api/v1/binoculars/{id}":{"get":{"summary":"Get one binoculars record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/boots":{"get":{"summary":"boots (6 items)"}},"/api/v1/boots/{id}":{"get":{"summary":"Get one boots record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/buffer_tubes":{"get":{"summary":"buffer_tubes (3 items)"}},"/api/v1/buffer_tubes/{id}":{"get":{"summary":"Get one buffer_tubes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/charging_handle":{"get":{"summary":"charging_handle (11 items)"}},"/api/v1/charging_handle/{id}":{"get":{"summary":"Get one charging_handle record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/cleanup":{"get":{"summary":"cleanup (4 items)"}},"/api/v1/cleanup/{id}":{"get":{"summary":"Get one cleanup record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/collimators":{"get":{"summary":"collimators (20 items)"}},"/api/v1/collimators/{id}":{"get":{"summary":"Get one collimators record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/containers":{"get":{"summary":"containers (28 items)"}},"/api/v1/containers/{id}":{"get":{"summary":"Get one containers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/contract":{"get":{"summary":"contract (26 items)"}},"/api/v1/contract/{id}":{"get":{"summary":"Get one contract record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/contracts":{"get":{"summary":"contracts (3 items)"}},"/api/v1/contracts/{id}":{"get":{"summary":"Get one contracts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/drinks":{"get":{"summary":"drinks (18 items)"}},"/api/v1/drinks/{id}":{"get":{"summary":"Get one drinks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/electronics":{"get":{"summary":"electronics (5 items)"}},"/api/v1/electronics/{id}":{"get":{"summary":"Get one electronics record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/face_cover":{"get":{"summary":"face_cover (4 items)"}},"/api/v1/face_cover/{id}":{"get":{"summary":"Get one face_cover record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/food":{"get":{"summary":"food (19 items)"}},"/api/v1/food/{id}":{"get":{"summary":"Get one food record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/foregrips":{"get":{"summary":"foregrips (19 items)"}},"/api/v1/foregrips/{id}":{"get":{"summary":"Get one foregrips record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/front_iron_sights":{"get":{"summary":"front_iron_sights (16 items)"}},"/api/v1/front_iron_sights/{id}":{"get":{"summary":"Get one front_iron_sights record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/funds":{"get":{"summary":"funds (4 items)"}},"/api/v1/funds/{id}":{"get":{"summary":"Get one funds record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/gas_blocks":{"get":{"summary":"gas_blocks (9 items)"}},"/api/v1/gas_blocks/{id}":{"get":{"summary":"Get one gas_blocks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/gear":{"get":{"summary":"gear (26 items)"}},"/api/v1/gear/{id}":{"get":{"summary":"Get one gear record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/glasses":{"get":{"summary":"glasses (13 items)"}},"/api/v1/glasses/{id}":{"get":{"summary":"Get one glasses record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/gloves":{"get":{"summary":"gloves (12 items)"}},"/api/v1/gloves/{id}":{"get":{"summary":"Get one gloves record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/handguards":{"get":{"summary":"handguards (56 items)"}},"/api/v1/handguards/{id}":{"get":{"summary":"Get one handguards record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/headsets":{"get":{"summary":"headsets (7 items)"}},"/api/v1/headsets/{id}":{"get":{"summary":"Get one headsets record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/helmet_mounts":{"get":{"summary":"helmet_mounts (3 items)"}},"/api/v1/helmet_mounts/{id}":{"get":{"summary":"Get one helmet_mounts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/helmets":{"get":{"summary":"helmets (41 items)"}},"/api/v1/helmets/{id}":{"get":{"summary":"Get one helmets record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/hidden_task":{"get":{"summary":"hidden_task (7 items)"}},"/api/v1/hidden_task/{id}":{"get":{"summary":"Get one hidden_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/household_item":{"get":{"summary":"household_item (20 items)"}},"/api/v1/household_item/{id}":{"get":{"summary":"Get one household_item record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/intels":{"get":{"summary":"intels (5 items)"}},"/api/v1/intels/{id}":{"get":{"summary":"Get one intels record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/items":{"get":{"summary":"items (3 items)"}},"/api/v1/items/{id}":{"get":{"summary":"Get one items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/jewellery":{"get":{"summary":"jewellery (17 items)"}},"/api/v1/jewellery/{id}":{"get":{"summary":"Get one jewellery record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/keycards":{"get":{"summary":"keycards (8 items)"}},"/api/v1/keycards/{id}":{"get":{"summary":"Get one keycards record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/keys":{"get":{"summary":"keys (126 items)"}},"/api/v1/keys/{id}":{"get":{"summary":"Get one keys record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/laboratory_supplies":{"get":{"summary":"laboratory_supplies (9 items)"}},"/api/v1/laboratory_supplies/{id}":{"get":{"summary":"Get one laboratory_supplies record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/lockboxes":{"get":{"summary":"lockboxes (3 items)"}},"/api/v1/lockboxes/{id}":{"get":{"summary":"Get one lockboxes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/loot_container":{"get":{"summary":"loot_container (39 items)"}},"/api/v1/loot_container/{id}":{"get":{"summary":"Get one loot_container record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/loot_containers":{"get":{"summary":"loot_containers (4 items)"}},"/api/v1/loot_containers/{id}":{"get":{"summary":"Get one loot_containers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/loot_items":{"get":{"summary":"loot_items (120 items)"}},"/api/v1/loot_items/{id}":{"get":{"summary":"Get one loot_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/magazines":{"get":{"summary":"magazines (51 items)"}},"/api/v1/magazines/{id}":{"get":{"summary":"Get one magazines record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/main_task":{"get":{"summary":"main_task (26 items)"}},"/api/v1/main_task/{id}":{"get":{"summary":"Get one main_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/medical":{"get":{"summary":"medical (34 items)"}},"/api/v1/medical/{id}":{"get":{"summary":"Get one medical record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/military_equipment":{"get":{"summary":"military_equipment (19 items)"}},"/api/v1/military_equipment/{id}":{"get":{"summary":"Get one military_equipment record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/military_material":{"get":{"summary":"military_material (4 items)"}},"/api/v1/military_material/{id}":{"get":{"summary":"Get one military_material record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/mortar_rounds":{"get":{"summary":"mortar_rounds (3 items)"}},"/api/v1/mortar_rounds/{id}":{"get":{"summary":"Get one mortar_rounds record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/mounts":{"get":{"summary":"mounts (53 items)"}},"/api/v1/mounts/{id}":{"get":{"summary":"Get one mounts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/muzzle_devices":{"get":{"summary":"muzzle_devices (45 items)"}},"/api/v1/muzzle_devices/{id}":{"get":{"summary":"Get one muzzle_devices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/night_vision":{"get":{"summary":"night_vision (5 items)"}},"/api/v1/night_vision/{id}":{"get":{"summary":"Get one night_vision record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/paper":{"get":{"summary":"paper (1 items)"}},"/api/v1/paper/{id}":{"get":{"summary":"Get one paper record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/pistol_grips":{"get":{"summary":"pistol_grips (25 items)"}},"/api/v1/pistol_grips/{id}":{"get":{"summary":"Get one pistol_grips record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/plate_carrier":{"get":{"summary":"plate_carrier (1 items)"}},"/api/v1/plate_carrier/{id}":{"get":{"summary":"Get one plate_carrier record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/plate_carriers":{"get":{"summary":"plate_carriers (16 items)"}},"/api/v1/plate_carriers/{id}":{"get":{"summary":"Get one plate_carriers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/provisions":{"get":{"summary":"provisions (37 items)"}},"/api/v1/provisions/{id}":{"get":{"summary":"Get one provisions record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/reading_intel":{"get":{"summary":"reading_intel (1 items)"}},"/api/v1/reading_intel/{id}":{"get":{"summary":"Get one reading_intel record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/rear_iron_sights":{"get":{"summary":"rear_iron_sights (20 items)"}},"/api/v1/rear_iron_sights/{id}":{"get":{"summary":"Get one rear_iron_sights record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/removed_content":{"get":{"summary":"removed_content (24 items)"}},"/api/v1/removed_content/{id}":{"get":{"summary":"Get one removed_content record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/repair_kits":{"get":{"summary":"repair_kits (6 items)"}},"/api/v1/repair_kits/{id}":{"get":{"summary":"Get one repair_kits record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/rigs":{"get":{"summary":"rigs (11 items)"}},"/api/v1/rigs/{id}":{"get":{"summary":"Get one rigs record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/scopes":{"get":{"summary":"scopes (11 items)"}},"/api/v1/scopes/{id}":{"get":{"summary":"Get one scopes record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/shirts":{"get":{"summary":"shirts (20 items)"}},"/api/v1/shirts/{id}":{"get":{"summary":"Get one shirts record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/side_task":{"get":{"summary":"side_task (96 items)"}},"/api/v1/side_task/{id}":{"get":{"summary":"Get one side_task record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/slides":{"get":{"summary":"slides (12 items)"}},"/api/v1/slides/{id}":{"get":{"summary":"Get one slides record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/squad_strike_missions":{"get":{"summary":"squad_strike_missions (32 items)"}},"/api/v1/squad_strike_missions/{id}":{"get":{"summary":"Get one squad_strike_missions record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/squad_strike_missions_item":{"get":{"summary":"squad_strike_missions_item (55 items)"}},"/api/v1/squad_strike_missions_item/{id}":{"get":{"summary":"Get one squad_strike_missions_item record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/stock_adapters":{"get":{"summary":"stock_adapters (10 items)"}},"/api/v1/stock_adapters/{id}":{"get":{"summary":"Get one stock_adapters record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/stocks":{"get":{"summary":"stocks (58 items)"}},"/api/v1/stocks/{id}":{"get":{"summary":"Get one stocks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/suppressors":{"get":{"summary":"suppressors (23 items)"}},"/api/v1/suppressors/{id}":{"get":{"summary":"Get one suppressors record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/tactical_devices":{"get":{"summary":"tactical_devices (11 items)"}},"/api/v1/tactical_devices/{id}":{"get":{"summary":"Get one tactical_devices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/task_items":{"get":{"summary":"task_items (101 items)"}},"/api/v1/task_items/{id}":{"get":{"summary":"Get one task_items record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/tasks":{"get":{"summary":"tasks (249 items)"}},"/api/v1/tasks/{id}":{"get":{"summary":"Get one tasks record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/throwables":{"get":{"summary":"throwables (8 items)"}},"/api/v1/throwables/{id}":{"get":{"summary":"Get one throwables record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/tools":{"get":{"summary":"tools (8 items)"}},"/api/v1/tools/{id}":{"get":{"summary":"Get one tools record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/trousers":{"get":{"summary":"trousers (23 items)"}},"/api/v1/trousers/{id}":{"get":{"summary":"Get one trousers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/upcoming_content":{"get":{"summary":"upcoming_content (11 items)"}},"/api/v1/upcoming_content/{id}":{"get":{"summary":"Get one upcoming_content record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/upper_receivers":{"get":{"summary":"upper_receivers (15 items)"}},"/api/v1/upper_receivers/{id}":{"get":{"summary":"Get one upper_receivers record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/valuables":{"get":{"summary":"valuables (1 items)"}},"/api/v1/valuables/{id}":{"get":{"summary":"Get one valuables record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/vendors":{"get":{"summary":"vendors (7 items)"}},"/api/v1/vendors/{id}":{"get":{"summary":"Get one vendors record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/vests":{"get":{"summary":"vests (19 items)"}},"/api/v1/vests/{id}":{"get":{"summary":"Get one vests record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/vices":{"get":{"summary":"vices (11 items)"}},"/api/v1/vices/{id}":{"get":{"summary":"Get one vices record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/weapon_parts":{"get":{"summary":"Weapon parts (combined)"}},"/api/v1/weapons":{"get":{"summary":"weapons (44 items)"}},"/api/v1/weapons/{id}":{"get":{"summary":"Get one weapons record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/workshop_supplies":{"get":{"summary":"workshop_supplies (16 items)"}},"/api/v1/workshop_supplies/{id}":{"get":{"summary":"Get one workshop_supplies record by id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/armor":{"get":{"summary":"Armor (vests + helmets + glasses)"}},"/api/v1/helmet_mods":{"get":{"summary":"Helmet mods (night vision + mounts)"}}}}