openapi: 3.2.0
info:
  title: Gzw Data Military Material API
  version: 4.2.0
  description: 'Operations tagged Military Material across 2 of this provider''s published API definitions: gzw-data-openapi.json, gzw-data-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gzw-data.dev
tags:
- name: Military Material
paths:
  /api/military_material:
    get:
      summary: military_material (4 items)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Military Material
    servers:
    - url: https://gzw-data.dev
  /api/military_material/{id}:
    get:
      summary: Get one military_material record by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Military Material
    servers:
    - url: https://gzw-data.dev
  /api/v1/military_material:
    get:
      summary: military_material (4 items)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Military Material
    servers:
    - url: https://gzw-data.dev
  /api/v1/military_material/{id}:
    get:
      summary: Get one military_material record by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Military Material
    servers:
    - url: https://gzw-data.dev
components:
  schemas:
    PaginatedResponse:
      allOf:
      - $ref: '#/components/schemas/ObjectResponse'
      - type: object
        properties:
          data:
            type: array
            items:
              type: object
          count:
            type: integer
          page:
            type: integer
          perPage:
            type: integer
          total:
            type: integer
          totalPages:
            type: integer
    ApiError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: DATASET_NOT_FOUND
        message:
          type: string
          example: Dataset not found
        dataset:
          type: string
        id:
          type: string
      additionalProperties: true
    RecordResponse:
      allOf:
      - $ref: '#/components/schemas/ObjectResponse'
      - type: object
        properties:
          data:
            type: object
    ApiErrorResponse:
      type: object
      required:
      - error
      - source
      - timestamp
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        source:
          type: string
          example: GZW Data API
        timestamp:
          type: string
          format: date-time
    ObjectResponse:
      type: object
      required:
      - data
      - source
      - timestamp
      properties:
        data: {}
        source:
          type: string
        timestamp:
          type: string
          format: date-time
        dataVersion:
          type: string
        apiVersion:
          type: string
          example: v1
        implementationVersion:
          type: string
          example: 4.2.0
      additionalProperties: true
x-refined-from:
- gzw-data-openapi.json
- gzw-data-openapi.json
