openapi: 3.2.0
info:
  title: Gzw Data Search API
  version: 4.2.0
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: gzw-data-openapi.json, gzw-data-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gzw-data.dev
tags:
- name: Search
paths:
  /api/search:
    get:
      summary: Search records across datasets
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      - name: dataset
        in: query
        schema:
          type: string
        description: Comma-separated dataset names
      - name: fields
        in: query
        schema:
          type: string
        description: Comma-separated fields to search
      - name: fuzzy
        in: query
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Search
    servers:
    - url: https://gzw-data.dev
  /api/v1/search:
    get:
      summary: Search records across datasets
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      - name: dataset
        in: query
        schema:
          type: string
        description: Comma-separated dataset names
      - name: fields
        in: query
        schema:
          type: string
        description: Comma-separated fields to search
      - name: fuzzy
        in: query
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Search
    servers:
    - url: https://gzw-data.dev
components:
  schemas:
    ApiError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: DATASET_NOT_FOUND
        message:
          type: string
          example: Dataset not found
        dataset:
          type: string
        id:
          type: string
      additionalProperties: true
    ApiErrorResponse:
      type: object
      required:
      - error
      - source
      - timestamp
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        source:
          type: string
          example: GZW Data API
        timestamp:
          type: string
          format: date-time
    ObjectResponse:
      type: object
      required:
      - data
      - source
      - timestamp
      properties:
        data: {}
        source:
          type: string
        timestamp:
          type: string
          format: date-time
        dataVersion:
          type: string
        apiVersion:
          type: string
          example: v1
        implementationVersion:
          type: string
          example: 4.2.0
      additionalProperties: true
x-refined-from:
- gzw-data-openapi.json
- gzw-data-openapi.json
