openapi: 3.2.0
info:
  title: GZW Data Glasses API
  version: 4.2.0
  description: Comprehensive Gray Zone Warfare game data API.
servers:
- url: https://gzw-data.dev
tags:
- name: Glasses
paths:
  /api/glasses:
    get:
      summary: glasses (13 items)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Glasses
      operationId: getApiGlasses
      x-operation-id-source: derived
  /api/glasses/{id}:
    get:
      summary: Get one glasses record by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Glasses
      operationId: getApiGlassesById
      x-operation-id-source: derived
  /api/v1/glasses:
    get:
      summary: glasses (13 items)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Glasses
      operationId: getApiV1Glasses
      x-operation-id-source: derived
  /api/v1/glasses/{id}:
    get:
      summary: Get one glasses record by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Glasses
      operationId: getApiV1GlassesById
      x-operation-id-source: derived
components:
  schemas:
    ObjectResponse:
      type: object
      required:
      - data
      - source
      - timestamp
      properties:
        data: {}
        source:
          type: string
        timestamp:
          type: string
          format: date-time
        dataVersion:
          type: string
        apiVersion:
          type: string
          example: v1
        implementationVersion:
          type: string
          example: 4.2.0
      additionalProperties: true
    ApiError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: DATASET_NOT_FOUND
        message:
          type: string
          example: Dataset not found
        dataset:
          type: string
        id:
          type: string
      additionalProperties: true
    ApiErrorResponse:
      type: object
      required:
      - error
      - source
      - timestamp
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        source:
          type: string
          example: GZW Data API
        timestamp:
          type: string
          format: date-time
    PaginatedResponse:
      allOf:
      - $ref: '#/components/schemas/ObjectResponse'
      - type: object
        properties:
          data:
            type: array
            items:
              type: object
          count:
            type: integer
          page:
            type: integer
          perPage:
            type: integer
          total:
            type: integer
          totalPages:
            type: integer
    RecordResponse:
      allOf:
      - $ref: '#/components/schemas/ObjectResponse'
      - type: object
        properties:
          data:
            type: object
