openapi: 3.2.0
info:
  title: GZW Data Ready API
  version: 4.2.0
  description: Comprehensive Gray Zone Warfare game data API.
servers:
- url: https://gzw-data.dev
tags:
- name: Ready
paths:
  /api/ready:
    get:
      summary: Lightweight readiness probe for loaded datasets
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Ready
      operationId: getApiReady
      x-operation-id-source: derived
  /api/v1/ready:
    get:
      summary: Lightweight readiness probe for loaded datasets
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Ready
      operationId: getApiV1Ready
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: DATASET_NOT_FOUND
        message:
          type: string
          example: Dataset not found
        dataset:
          type: string
        id:
          type: string
      additionalProperties: true
    ApiErrorResponse:
      type: object
      required:
      - error
      - source
      - timestamp
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        source:
          type: string
          example: GZW Data API
        timestamp:
          type: string
          format: date-time
    ObjectResponse:
      type: object
      required:
      - data
      - source
      - timestamp
      properties:
        data: {}
        source:
          type: string
        timestamp:
          type: string
          format: date-time
        dataVersion:
          type: string
        apiVersion:
          type: string
          example: v1
        implementationVersion:
          type: string
          example: 4.2.0
      additionalProperties: true
